<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ims.sunmoon.persistance.ClientMapper">
	<resultMap id="clientResultMap" type="client">
		<id column="CLIENT_NO" property="clientNo" />
		<result column="CLIENT_NAME" property="clientName" />
		<result column="COMP_NAME" property="compName" />
		<result column="REP" property="rep" />
		<result column="BSN_LIC_NO" property="bsnLicNo" />
		<result column="BSN_EST" property="bsnEst" />
		<result column="BSN_EST_ADDR" property="bsnEstAddr" />
		<result column="BSN_CDT" property="bsnCdt" />
		<result column="EVENT" property="event" />
		<result column="REP_PHONE" property="repPhone" />
		<result column="REP_FAX" property="repFax" />
		<result column="EMAIL" property="email" />
		<result column="CELLPHONE" property="cellphone" />
		<result column="MANAGER_NO" property="managerNo" />
		<result column="ZIP_NO" property="zipNo" />
		<result column="ACCOUNT_NO" property="accountNo" />
		<result column="USEABLE" property="usable" />
		<result column="NOTE" property="note" />
	</resultMap>
	
	<select id="list" parameterType="client" resultMap="clientResultMap">
		SELECT CLIENT_NO   
			   ,CLIENT_NAME 
			   ,COMP_NAME   
			   ,REP         
			   ,BSN_LIC_NO  
			   ,BSN_EST     
			   ,BSN_EST_ADDR
			   ,BSN_CDT     
			   ,EVENT       
			   ,REP_PHONE   
			   ,REP_FAX     
			   ,EMAIL       
			   ,CELLPHONE   
			   ,MANAGER_NO  
			   ,ZIP_NO      
			   ,ACCOUNT_NO  
			   ,USEABLE     
			   ,NOTE   
		FROM CLIENT
		<where>
		AND USEABLE = #{useable}
			<if test="clientNo > 0">
				AND CLIENT_NO = #{clientNo}
			</if>
			<if test="clientName != null and clientName != ''">
				AND UPPER( CLIENT_NAME ) LIKE UPPER ( '%' || #{clientName} || '%' )
			</if>
			<if test="compName != null and compName != ''">
				AND UPPER( COMP_NAME ) LIKE UPPER ( '%' || #{compName} || '%' )
			</if>
			<if test="bsnLicNo > 0">
				AND BSN_LIC_NO = #{bsnLicNo}
			</if>
			<if test="bsnCdt != null and bsnCdt != ''">
				AND UPPER( BSN_CDT ) LIKE UPPER ( '%' || #{bsnCdt} || '%' )
			</if>
			<if test="event != null and event != ''">
				AND UPPER( EVENT ) LIKE UPPER ( '%' || #{event} || '%' )
			</if>
		</where>
		<if test="clientSortOption != null">
			<if test="clientSortOption.name() == 'NO'">
				ORDER BY CLIENT_NO ASC
			</if>
			<if test="clientSortOption.name() == 'CLEINT_NAME'">
				ORDER BY CLIENT_NAME ASC
			</if>
			<if test="clientSortOption.name() == 'COMP_NAME'">
				ORDER BY COMP_NAME ASC
			</if>
			<if test="clientSortOption.name() == 'BSN_LIC_NO'">
				ORDER BY BSN_LIC_NO ASC
			</if>
			<if test="clientSortOption.name() == 'BSN_CDT'">
				ORDER BY BSN_CDT ASC
			</if>
			<if test="clientSortOption.name() == 'EVENT'">
				ORDER BY EVENT ASC
			</if>
		</if>
	</select>
	
	<select id="select" parameterType="client" resultMap="clientResultMap">
		SELECT CLIENT_NO   
			   ,CLIENT_NAME 
			   ,COMP_NAME   
			   ,REP         
			   ,BSN_LIC_NO  
			   ,BSN_EST     
			   ,BSN_EST_ADDR
			   ,BSN_CDT     
			   ,EVENT       
			   ,REP_PHONE   
			   ,REP_FAX     
			   ,EMAIL       
			   ,CELLPHONE   
			   ,MANAGER_NO  
			   ,ZIP_NO      
			   ,ACCOUNT_NO  
			   ,USEABLE     
			   ,NOTE   
		FROM CLIENT
		WHERE CLIENT_NO = #{clientNo}
		AND USEABLE = #{useable}
	</select>

	<insert id="insert" parameterType="client">
		<selectKey keyColumn="CLIENT_NO" keyProperty="clientNo" resultType="int" order="BEFORE">
			SELECT CLIENT_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO CLIENT
			( CLIENT_NO   
			   ,CLIENT_NAME 
			   ,COMP_NAME   
			   ,REP         
			   ,BSN_LIC_NO  
			   ,BSN_EST     
			   ,BSN_EST_ADDR
			   ,BSN_CDT     
			   ,EVENT       
			   ,REP_PHONE   
			   ,REP_FAX     
			   ,EMAIL       
			   ,CELLPHONE   
			   ,MANAGER_NO  
			   ,ZIP_NO      
			   ,ACCOUNT_NO  
			   ,USEABLE     
			   ,NOTE )
		VALUES
			(#{clientNo}, #{clientName}, #{compName}, #{rep}, #{bsnLicNo},
			 #{bsnEst}, #{bsnEstAddr}, #{bsnCdt}, #{event}, #{repPhone},
			 #{repFax}, #{email}, #{cellphone}, #{managerNo}, #{zipNo},
		     #{accountNo}, 1, #{note})
	</insert>

	<update id="update" parameterType="client">
		UPDATE 
		CLIENT
		SET
		CLIENT_NAME  = #{clientName}, 
		COMP_NAME    = #{compName}, 
		REP          = #{rep}, 
		BSN_LIC_NO   = #{bsnLicNo},
		BSN_EST      = #{bsnEst}, 
		BSN_EST_ADDR = #{bsnEstAddr}, 
		BSN_CDT      = #{bsnCdt}, 
		EVENT        = #{event}, 
		REP_PHONE    = #{repPhone},
		REP_FAX      = #{repFax}, 
		EMAIL        = #{email}, 
		CELLPHONE    = #{cellphone}, 
		MANAGER_NO   = #{managerNo}, 
		ZIP_NO       = #{zipNo},
		ACCOUNT_NO   = #{accountNo}, 
		USEABLE      = #{useable},
		NOTE         = #{note}
		WHERE
		CLIENT_NO    = #{clientNo}
	</update>

	<update id="delete" parameterType="client">
		UPDATE
		CLIENT
		SET
		USEABLE = 0
		WHERE
		CLIENT_NO = #{clientNo}
	</update>
</mapper>