<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ims.sunmoon.persistance.LoginInfoMapper">
	<resultMap id="loginInfoResultMap" type="loginInfo">
		<id column="LOGIN_ID" property="loginId" />
		<result column="LOGIN_PASSWORD" property="loginPassword" />
	</resultMap>
	
	<select id="select" parameterType="loginInfo" resultMap="loginInfoResultMap">
		SELECT LOGIN_ID
		      ,LOGIN_PASSWORD
		FROM LOGIN_INFO
		WHERE 
		LOGIN_ID = #{loginId}
		AND LOGIN_PASSWORD = #{loginPassword}
	</select>

	<update id="update" parameterType="loginInfo">
		UPDATE
		LOGIN_INFO
		SET
		LOGIN_PASSWORD = #{loginPassword}
		WHERE
		LOGIN_ID       = #{loginId}
	</update>
</mapper>