<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p [%t] - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="ims.sunmoon.persistence.AccountMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.BDMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.BerelasedMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.ClientMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.DepositMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.ItemMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.LoginInfoMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.ManagerMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.TransferslipMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.WarehousingMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.WithdrawMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		
		<Logger name="ims.sunmoon.persistence.WWMapper" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
