<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ims.sunmoon.persistence.DepositMapper">
	<resultMap id="depositResultMap" type="deposit">
		<id column="DEP_NO" property="depNo" />
		<result column="DEP_DATE" property="depDate" />
		<result column="CLIENT_NO" property="clientNo" />
		<result column="ACCOUNT_NO" property="accountNo" />
		<result column="CON_VER" property="conVer" />
		<result column="AMMOUNT" property="ammount" />
		<result column="TAX" property="tax" />
		<result column="USEABLE" property="useable" />
		<result column="NOTE" property="note" />
	</resultMap>
	
	<select id="list" parameterType="deposit" resultMap="depositResultMap">
		SELECT DEP_NO     
			  ,DEP_DATE  
			  ,CLIENT_NO 
			  ,ACCOUNT_NO
			  ,CON_VER   
			  ,AMMOUNT   
			  ,TAX       
			  ,USEABLE   
			  ,NOTE      
		FROM DEPOSIT
		<where>
			<if test="depNo > 0">
				AND DEP_NO = #{beNo}
			</if>
			<if test="depDate != null and depDate != ''">
				AND DEP_DATE = #{beDate}
			</if>
			<if test="clientNo > 0">
				AND CLIENT_NO = #{clientNo}
			</if>
			<if test="first != null and last != null">
				AND DEP_DATE BETWEEN #{first}
				AND #{last} + 1
			</if>
			AND USEABLE = #{useable}
		</where>
		<if test="depositSortOption != null">
			<if test="depositSortOption.name() == 'DEP_NO'">
				ORDER BY DEP_NO ASC
			</if>
			<if test="depositSortOption.name() == 'DEP_DATE'">
				ORDER BY DEP_DATE DESC
			</if>
			<if test="depositSortOption.name() == 'CLEINT_NO'">
				ORDER BY CLEINT_NO ASC
			</if>
			<if test="depositSortOption.name() == 'AMMOUNT'">
				ORDER BY AMMOUNT DESC
			</if>
			<if test="depositSortOption.name() == 'TAX'">
				ORDER BY TAX DESC
			</if>
		</if>
	</select>
	
	<select id="select" parameterType="deposit" resultMap="depositResultMap">
		SELECT DEP_NO     
			  ,DEP_DATE  
			  ,CLIENT_NO 
			  ,ACCOUNT_NO
			  ,CON_VER   
			  ,AMMOUNT   
			  ,TAX       
			  ,USEABLE   
			  ,NOTE      
		FROM DEPOSIT
		WHERE DEP_NO = #{depNo}
		AND USEABLE = #{useable}
	</select>

	<insert id="insert" parameterType="deposit">
		<selectKey keyColumn="DEP_NO" keyProperty="depNo" resultType="int" order="BEFORE">
			SELECT DEPOSIT_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO DEPOSIT
			( DEP_NO     
			  ,DEP_DATE  
			  ,CLIENT_NO 
			  ,ACCOUNT_NO
			  ,CON_VER   
			  ,AMMOUNT   
			  ,TAX       
			  ,USEABLE   
			  ,NOTE )
		VALUES
			(#{depNo}, SYSDATE, #{clientNo}, #{accountNo}, #{conVer},
			 #{ammount}, #{tax}, 1, #{note})
	</insert>

	<update id="update" parameterType="deposit">
		UPDATE 
		DEPOSIT
		SET
		DEP_DATE   = #{depDate},
		CLIENT_NO  = #{clientNo},
		ACCOUNT_NO = #{accountNo},
		CON_VER    = #{conVer},
		AMMOUNT    = #{ammount},
		TAX        = #{tax},
		USEABLE    = #{useable},
		NOTE       = #{note}
		WHERE
		DEP_NO     = #{depNo}
	</update>

	<update id="delete" parameterType="deposit">
		UPDATE
		DEPOSIT
		SET
		USEABLE = 0
		WHERE
		DEP_NO  = #{depNo}
	</update>
</mapper>