<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ims.sunmoon.persistence.AccountMapper">
	<resultMap id="accountResultMap" type="account">
		<id column="ITEM_CODE" property="itemCode" />
		<result column="ITEM_CFC" property="itemCfc" />
		<result column="ITEM_NAME" property="itemName" />
		<result column="STANDARD" property="standard" />
		<result column="BASE_QUANTITY" property="baseQuantity" />
		<result column="ITEM_STATUS" property="itemStatus" />
		<result column="USEABLE" property="useable" />
		<result column="NOTE" property="note" />
	</resultMap>
	
	<select id="list" parameterType="item" resultMap="itemResultMap">
		SELECT ITEM_CODE
			  ,ITEM_CFC
			  ,ITEM_NAME
			  ,STANDARD
			  ,BASE_QUANTITY
			  ,ITEM_STATUS
			  ,USEABLE
			  ,NOTE
		FROM ITEM
		<where>
			<if test="itemCode != null and itemCode != ''">
				AND UPPER( ITEM_CODE ) LIKE UPPER ( '%' || #{itemCode} || '%' )
			</if>
			<if test="itemCfc > -1 and itemCfc gt 5">
				AND ITEM_CFC = #{itemCfc}
			</if>
			<if test="itemCfcOption != null">
				<if test="itemCfcOption.name() == 'GOODS'">
					AND ITEM_CFC = 0
				</if>
				<if test="itemCfcOption.name() == 'PRODUCT'">
					AND ITEM_CFC = 1
				</if>
				<if test="itemCfcOption.name() == 'PART'">
					AND ITEM_CFC = 2
				</if>
				<if test="itemCfcOption.name() == 'SEMI'">
					AND ITEM_CFC = 3
				</if>
				<if test="itemCfcOption.name() == 'SET'">
					AND ITEM_CFC = 4
				</if>
			</if>
			<if test="itemName != null and itemName != ''">
				AND UPPER( ITEM_NAME ) LIKE UPPER ( '%' || #{itemName} || '%' )
			</if>
			<if test="standard != null and standard != ''">
				AND UPPER( STANDARD ) LIKE UPPER ( '%' || #{standard} || '%' )
			</if>
			<if test="itemStatus != null and itemStatus != ''">
				AND UPPER( ITEM_STATUS ) LIKE UPPER ( '%' || #{itemStatus} || '%' )
			</if>
			<if test="itemStatusOption != null">
				AND UPPER( ITEM_STATUS ) LIKE UPPER ( '%' || #{itemStatusOption.name()} || '%' )
			</if>
			AND USEABLE = #{useable}
		</where>
		<if test="itemSortOption != null">
			<if test="itemSortOption.name() == 'ITEM_CODE'">
				ORDER BY ITEM_CODE ASC
			</if>
			<if test="itemSortOption.name() == 'ITEM_CFC'">
				ORDER BY ITEM_CFC ASC
			</if>
			<if test="itemSortOption.name() == 'ITEM_NAME'">
				ORDER BY ITEM_NAME ASC
			</if>
			<if test="itemSortOption.name() == 'STANDARD'">
				ORDER BY STANDARD ASC
			</if>
			<if test="itemSortOption.name() == 'STATUS'">
				ORDER BY STATUS ASC
			</if>
		</if>
	</select>
	
	<select id="select" parameterType="item" resultMap="itemResultMap">
		SELECT ITEM_CODE
			  ,ITEM_CFC
			  ,ITEM_NAME
			  ,STANDARD
			  ,BASE_QUANTITY
			  ,ITEM_STATUS
			  ,USEABLE
			  ,NOTE
		FROM ITEM
		WHERE
		UPPER( ITEM_CODE ) LIKE UPPER ( '%' || #{itemCode} || '%' )
		AND USEABLE = #{useable}
	</select>

	<insert id="insert" parameterType="item">
		INSERT INTO ITEM
			( ITEM_CODE
			  ,ITEM_CFC
			  ,ITEM_NAME
			  ,STANDARD
			  ,BASE_QUANTITY
			  ,ITEM_STATUS
			  ,USEABLE
			  ,NOTE )
		VALUES
			( #{itemCode}, #{itemCfc}, #{itemName}, #{standard}, #{baseQuantity},
			  #{itemStatus}, 1, #{note} )
	</insert>

	<update id="update" parameterType="item">
		UPDATE 
		ITEM
		SET
		ITEM_CFC      = #{itemCfc},
		ITEM_NAME     = #{itemName},
		STANDARD      = #{standard},
		BASE_QUANTITY = #{baseQuantity},
		ITEM_STATUS   = #{itemStatus},
		USEABLE       = #{useable},
		NOTE          = #{note}
		WHERE
		UPPER( ITEM_CODE ) LIKE UPPER ( '%' || #{itemCode} || '%' )
	</update>

	<update id="delete" parameterType="item">
		UPDATE
		ITEM
		SET
		USEABLE = 0
		WHERE
		UPPER( ITEM_CODE ) LIKE UPPER ( '%' || #{itemCode} || '%' )
	</update>
</mapper>