<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ims.sunmoon.persistence.WithdrawMapper">
	<resultMap id="withdrawResultMap" type="withdraw">
		<id column="WITH_NO" property="withNo" />
		<result column="WITH_DATE" property="withDate" />
		<result column="CLIENT_NO" property="clientNo" />
		<result column="ACCOUNT_NO" property="accountNo" />
		<result column="CON_VER" property="conVer" />
		<result column="AMMOUNT" property="ammount" />
		<result column="TAX" property="tax" />
		<result column="USEABLE" property="useable" />
		<result column="NOTE" property="note" />
	</resultMap>
	
	<select id="list" parameterType="withdraw" resultMap="withdrawResultMap">
		SELECT WITH_NO     
			  ,WITH_DATE  
			  ,CLIENT_NO 
			  ,ACCOUNT_NO
			  ,CON_VER   
			  ,AMMOUNT   
			  ,TAX       
			  ,USEABLE   
			  ,NOTE      
		FROM WITHDRAW
		<where>
			<if test="withNo > 0">
				AND WITH_NO = #{withNo}
			</if>
			<if test="withDate != null and withDate != ''">
				AND WITH_DATE = #{withDate}
			</if>
			<if test="clientNo > 0">
				AND CLIENT_NO = #{clientNo}
			</if>
			<if test="first != null and last != null">
				AND WITH_DATE BETWEEN #{first}
				AND #{last} + 1
			</if>
			AND USEABLE = #{useable}
		</where>
		<if test="withdrawSortOption != null">
			<if test="withdrawSortOption.name() == 'NO'">
				ORDER BY WITH_NO ASC
			</if>
			<if test="withdrawSortOption.name() == 'WITH_DATE'">
				ORDER BY WITH_DATE DESC
			</if>
			<if test="withdrawSortOption.name() == 'CLEINT_NO'">
				ORDER BY CLEINT_NO ASC
			</if>
			<if test="withdrawSortOption.name() == 'AMMOUNT'">
				ORDER BY AMMOUNT DESC
			</if>
			<if test="withdrawSortOption.name() == 'TAX'">
				ORDER BY TAX DESC
			</if>
		</if>
	</select>
	
	<select id="select" parameterType="withdraw" resultMap="withdrawResultMap">
		SELECT WITH_NO     
			  ,WITH_DATE  
			  ,CLIENT_NO 
			  ,ACCOUNT_NO
			  ,CON_VER   
			  ,AMMOUNT   
			  ,TAX       
			  ,USEABLE   
			  ,NOTE      
		FROM WITHDRAW
		WHERE WITH_NO = #{withNo}
		AND USEABLE = #{useable}
	</select>

	<insert id="insert" parameterType="withdraw">
		<selectKey keyColumn="WITH_NO" keyProperty="withNo" resultType="int" order="BEFORE">
			SELECT WITHDRAW_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO WITHDRAW
			( WITH_NO     
			  ,WITH_DATE  
			  ,CLIENT_NO 
			  ,ACCOUNT_NO
			  ,CON_VER   
			  ,AMMOUNT   
			  ,TAX       
			  ,USEABLE   
			  ,NOTE )
		VALUES
			(#{withNo}, SYSDATE, #{clientNo}, #{accountNo}, #{conVer},
			 #{ammount}, #{tax}, 1, #{note})
	</insert>

	<update id="update" parameterType="withdraw">
		UPDATE 
		WITHDRAW
		SET
		WITH_DATE   = #{withDate},
		CLIENT_NO  = #{clientNo},
		ACCOUNT_NO = #{accountNo},
		CON_VER    = #{conVer},
		AMMOUNT    = #{ammount},
		TAX        = #{tax},
		USEABLE    = #{useable},
		NOTE       = #{note}
		WHERE
		WITH_NO     = #{withNo}
	</update>

	<update id="delete" parameterType="withdraw">
		UPDATE
		WITHDRAW
		SET
		USEABLE = 0
		WHERE
		WITH_NO  = #{withNo}
	</update>
</mapper>